.footer-component {
  /* outline: auto; */
  height: 100%;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffefe2;
  border-radius: 0 0 10px 10px;
  padding: 0 2%;
  /* background-color: aqua; */
}

.footer-home {
  /* outline: auto; */
  width: 18%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  background-color: #ffefe2;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  
  /* background-color: aqua; */
}

.home-img {
  /* outline: auto; */
  height: 40%;
  width: 50%;
}

.footer-add {
  outline: auto;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  background-color: #ffefe2;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

.footer-dashboard {
  /* outline: auto; */
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  background-color: #ffefe2;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  color: black;
}

.dashboard-img {
  /* outline: auto; */
  height: 50%;
  width: 40%;
}

.add {
  outline: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -20px;
  font-size: large;
  margin-left: 20%;
  font-weight: bold;
  background-color: #f58b39;
}

a {
  text-decoration: none;
}
